[Unit]
Description=udpxy - UDP to HTTP multicast proxy
After=network.target

[Service]
Type=forking
User=root
ExecStart=/bin/bash -c "/usr/local/bin/start_udpxy.sh"
Restart=always

[Install]
WantedBy=multi-user.target
